/**/ a { color: #BBBBFF; } /**/
body {
    /**/
    background-color: #000000;
    opacity: 0.8;
    color: #FFFFFE;
    /**/
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
fieldset { border-radius: 0.4em; }
h2 { margin-top: 0.6em; }
img {
    max-width: 10.8em;
    border-radius: 0.4em;
}
legend { font-size: 2em; }
p {
    margin-top: 0em;
    margin-bottom: 0.1em;
}
table {
    margin-left: auto;
    margin-right: auto;
    border-spacing: 0px 1px;
}
th+th {
  border-left: 1px dotted #333333;
}

@media print {
  * {
    color: #000;
  }
  a {
    font-style: italic;
    text-decoration: none;
    color: #002 !important;
  }
  .printable {
    display: inline !important;
  }
  #rolesTimeline, #bottomNavBar {
    display: none !important;
  }
}

.bold-right {
    text-align: right;
    padding-right: 1em;
    font-weight: bold;
}
.ch12 tr td:nth-child(1) {
    text-align: right;
    font-weight: bold;
}
.centered { text-align: center; }
.colspan4 { padding-left: 10em; }
.grid-container-3 {
  display: grid;
  grid-template-columns: auto auto auto;
}
.highlight {
    color: #000000;
    padding: 0.1em;
    border-radius: 0.4em;
    border: 0.1em solid #000000;
}
.highlight-blue {
    background-color: #81A2BE;
    color: #000000;
    padding: 0.1em;
    border-radius: 0.4em;
    border: 0.1em solid #000000;
}
.highlight-yellow {
    background-color: #F0C674;
    color: #000000;
    padding: 0.1em;
    border-radius: 0.4em;
    border: 0.1em solid #000000;
}
.highlight-orange {
    background-color: #DE935F;
    color: #000000;
    padding: 0.1em;
    border-radius: 0.4em;
    border: 0.1em solid #000000;
}
.highlight-red {
    background-color: #CC6666;
    color: #000000;
    padding: 0.1em;
    border-radius: 0.4em;
    border: 0.1em solid #000000;
}
.highlight-gray {
    background-color: #C5C8C6;
    color: #000000;
    padding: 0.1em;
    border-radius: 0.4em;
    border: 0.1em solid #000000;
}
.invisible {
  visibility: hidden;
}
.w25 {
    width: 25vw;
}
.w70 {
    width: 80%;
    padding-right: 2em;
}

.bigdataeng_c { background-image: repeating-linear-gradient(90deg,  #A54242AA, #A54242 2px, #A54242 calc(100% - 2px), #A54242AA); }
.softwaredev_c { background-image: repeating-linear-gradient(90deg,  #CC6666AA, #CC6666 2px, #CC6666 calc(100% - 2px), #CC6666AA); }
.aidatasci_c { background-image: repeating-linear-gradient(90deg,  #DE935FAA, #DE935F 2px, #DE935F calc(100% - 2px), #DE935FAA); }
.dataanalistpbi_c { background-image: repeating-linear-gradient(90deg,  #F0C674AA, #F0C674 2px, #F0C674 calc(100% - 2px), #F0C674AA); }
.webdev_c { background-image: repeating-linear-gradient(90deg,  #B5BD68AA, #B5BD68 2px, #B5BD68 calc(100% - 2px), #B5BD68AA); }
.techcons_c { background-image: repeating-linear-gradient(90deg,  #81A2BEAA, #81A2BE 2px, #81A2BE calc(100% - 2px), #81A2BEAA); }
.arch_c { background-image: repeating-linear-gradient(90deg,  #B294BBAA, #B294BB 2px, #B294BB calc(100% - 2px), #B294BBAA); }

.lt {
  padding: 0 !important;
  cursor: default;
  left: 0;
  top: 0;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #f1f1f1;
  color: black;
}

.navbar a.active {
  background-color: #04AA6D;
  color: white;
}

.main {
  padding: 16px;
  margin-bottom: 30px;
}

.printable {
  font-style: italic;
}

.w20vw {
  width: 21%;
}
.w25vw {
  width: 22%;
}

.oob { /*orange outset border*/
  border: 2px solid #864;
  border-style: outset;
}

.bob { /*blue outset border*/
  border: 2px solid #668;
  border-style: outset;
}

.hidden {
  display: none;
}

.a-header {
  padding: 0 0.1em !important;
  font-style: italic;
}

.a-header:hover {
  background: inherit !important;
  color: inherit !important;
}


#legend>* {
  text-shadow: 0px 0px 1px #000, 0px 0px 2px #000, 0px 0px 3px #000, 0px 0px 4px #000;
}

#legend td {
  padding: 0.15em;
}

#logs {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
}